<IfModule mod_rewrite.c>
    Options +FollowSymlinks
    RewriteEngine On
</IfModule>

<IfModule mod_rewrite.c>
    #Options +FollowSymlinks
    RewriteEngine On
     # если /admin, то в backend
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^admin/assets/(.*)$ backend/web/assets/$1 [L]
    RewriteRule ^admin/css/(.*)$ backend/web/css/$1 [L]
    RewriteRule ^admin/js/(.*)$ backend/web/js/$1 [L]
    RewriteCond %{REQUEST_URI} !^/backend/web/(assets|js|css|js)/
    RewriteCond %{REQUEST_URI} ^/(admin)
    RewriteRule ^(.*)$ ^/backend/web/$1 [L]
    
    #RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
   # RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
    RewriteRule ^(.*)$ frontend/web/$1 [L]
    RewriteCond %{REQUEST_FILENAME} !-f [OR]
    RewriteCond %{REQUEST_FILENAME} !-d
    
   # RewriteCond ^(.*)$ ^/backend/web/$1 [L]
    #RewriteCond %{REQUEST_FILENAME} !-f [OR]
   # RewriteCond %{REQUEST_FILENAME} !-d

   # RewriteCond %{HTTPS} off
   # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

</IfModule>