
.card-car .card {
    border: none;
    border-color: transparent;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    margin-bottom: 24px;
}
.recommended-product .card-car .card{
        margin-left: 5px;
    margin-right: 5px;
}
.catalog-cars {
    margin-top: 30px;
}

.card .card-img-top-list {
       border-radius: .25rem  0 0 .25rem; 
   
}
.card-car .card-body { 
      padding: 20px 15px;
}
.list-view .card-list { 
      padding: 10px 15px;
}
.card-car .card-body a {
    text-decoration: none;
    color: #404040;
}
.card-car .card .card-title {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 8px;
}
.car-year {
    color: #E40C25;
}

.old-car {
    background: transparent;
    max-width: none;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left;
    font-family: 'Circe-Light', sans-serif;
    padding: 4px 6px 3px;
    display: block;
    margin: 0px 0 14px;
    padding-left: 0;
    letter-spacing: 0.7px;
}
.old-car-icon {
    padding-right: 10px;
}
.old-car-icon:before {
    content: url(/images/icon/km-speed.png);
    width: 22px;
    height: 16px;
    vertical-align: sub;
}
.car-info {
    
    overflow: hidden;
}

.car-info {
    margin-bottom: 4px!important;
}
.car-info>div {
    padding-bottom: 0;
}

.car-info div {
    font-size: 12px;
    color: #000000;
    padding: 4px 10px;
}
.no-padd {
    padding: 0;
    padding-top: 15px;
}
.car-info i {
    padding-right: 8px;
}
.kuzov:before {
    content: url(/images/icon/kuzov-icon.png);
    width: 22px;
    height: 16px;
    vertical-align: middle;
}
.privod:before {
    content: url(/images/icon/privod.png);
    width: 22px;
    height: 16px;
    vertical-align: sub;
}
.engine:before {
    content: url(/images/icon/engine.png);
    width: 22px;
    height: 16px;
}
.geadrsgift:before {
    content: url(/images/icon/geadrsgift.png);
    width: 22px;
    height: 16px;
    vertical-align: sub;
}

@media (min-width: 1200px){
.price-card-list {
    width: 100%;
}
}

.price-card-list {
    width: 100%;
}
.deposit .deposit-sales-bg, .sales .deposit-sales-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: auto;
    z-index: 1;
    background: rgba(255, 255, 255, 0.70);
    border-radius: 0.25rem .25rem 0 0;
}
.deposit .deposit-title, .sales .sales-title {
    position: absolute;
    z-index: 1;
    top: 64px;
    left: 22px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.07em;
    text-transform: uppercase;}
.deposit .deposit-title:before, .sales .sales-title:before {
    content: '';
    display: block;
    width: 40px;
    padding-bottom: 2px;
}
.deposit .deposit-title {
    color: #79B655;
}
.deposit .deposit-title:before {
    border-top: 2px solid #79B655;
}
.card-car .card .price.what-price{
    color: #15689c;
    text-decoration: underline; 
    font-size: 14px;
}
.card-car .card .price strike{
    font-size: 16px!important;
    float: right;
    color: rgba(137, 137, 137, 0.87);
}
.card-car .card .price .icon-uah{
    margin-right: 14px;
    vertical-align: text-bottom;
}
.price .icon-uah-grey {
    margin-right: 14px;
}
.card-car .card .btn {
    font-size: 12px;
    width: 100%;
    color: #E40C25;
    background: transparent;
    border: 1px solid #E40C25;
    margin-top: 20px;
    border-radius: 2px;
    padding: 11px 0 9px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-weight: bold;
}
.card-car .card .btn:hover{
    background: #E40C25!important;
    color: #fff!important;
}


.sort li a:after{
     font-family: FontAwesome;
    content: '\f160';
    float: right;
}
.sort li a.asc:after{
     font-family: FontAwesome;
     content: '\f161';
     float: right;
}

/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Template
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
body {
    overflow-x: hidden
}
#wrapper {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
section {
    margin-bottom: 30px
}
section h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}
section p {
    margin-bottom: 30px
}
section p:last-child {
    margin-bottom: 0
}
section:last-child {
    margin-bottom: 0
}
section.toggle {
    text-align: center
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
/* ------------------------------------------------------------ *\
|* ------------------------------------------------------------ *|
|* Menus
|* ------------------------------------------------------------ *|
\* ------------------------------------------------------------ */
/* general style for all menus */
nav.menu {
    position: fixed;
    z-index: 20;
    background-color: #67b5d1;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.menu a {
    font-weight: 300;
    color: #fff;
}
button.close-menu {
    background-color: #3184a1;
    color: #fff;
}
button.close-menu:focus {
    outline: none
}

nav.slide-menu-left {
    top: 0;
    width: 300px;
    height: 100%;
}
nav.slide-menu-left li {
    display: block;
    text-align: center;
    border-bottom: solid 1px #3184a1;
    border-top: solid 1px #b5dbe9;
}
nav.slide-menu-left li:first-child {
    border-top: none
}
nav.slide-menu-left li:last-child {
    border-bottom: none
}
nav.slide-menu-left a {
    display: block;
    padding: 10px;
    font-size: 18px;
}
nav.slide-menu-left button.close-menu {
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #3184a1;
    color: #fff;
}
nav.slide-menu-left {
    left: -300px
}
body.sml-open nav.slide-menu-left {
    left: 0
}

.label_attribut{
    color: rgba(0, 0, 0, 0.55);
    display: block;
    text-align: left;
    margin-bottom: 5px;
     font-size: 16px;
}
.cart-detail .col-xs-6 div{
    margin-bottom: 15px;
    display: block;
}
.cart-detail .col-xs-6 div span{
    padding: 5px;
    font-size: 16px;
}
.cart-detail .col-xs-6 div span i{
        padding-right: 10px;
}

/**slider**/

.price-box {
    margin: 0 auto;
	width: 90%;
}
.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}

.ui-widget-content {
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
}
.ui-widget {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}
.ui-slider-horizontal {
    height: .8em;
}
.ui-slider {
    position: relative;
    text-align: left;
        margin-bottom: 50px;
}
.ui-slider .l-left{
    position: absolute;
   top: 1.3rem;
    left: 0;
        color: #9d9ca0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.ui-slider .l-left:before{
   content: '';
    position: absolute;
    top: -5px;
    width: 1px;
    height: 5px;
    background-color: #9d9ca0;
}
.ui-slider .l-right{
    position: absolute;
    top: 1.3rem;
    right: 0;
        color: #9d9ca0;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.ui-slider .l-right:before{
    content: '';
    position: absolute;
    top: -5px;
    width: 1px;
    height: 5px;
    background-color: #9d9ca0;
    right:0;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 2rem;
    height: 2rem;
        margin-top: -.8em;
    cursor: pointer;
    -ms-touch-action: none;
    touch-action: none;
    text-align: center;
    line-height: 1.6em;
}
.ui-slider-horizontal .ui-slider-handle {
    margin-left: -.8em;
}

.ui-slider .ui-slider-handle:hover {
	cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
	cursor: pointer;
	outline: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #f9f9f9;
    background: #c30c14;
    color: white;
    font-weight: bold;
        line-height: 1.9rem;
            border-radius: 50%;
    
   
}
.price-slider .title{
    margin-bottom: 15px;
    
}
.price-slider .title span{
        margin-left: 15px;
    font-size: 11px;
    color: #999;
}
.great{
    font-size: 16px;
    color: rgb(58, 58, 58);
    font-weight: bold;
    line-height: 1.125;
    display: inline-block;
}
.great span{
    display: inline-block;
    
}
.price_label{
        display: inline-block;
        font-size: 20px;
    font-weight: bold;
        position: relative;
    top: -2px;
}
.price_label_span{
    font-size: 20px;
    font-weight: bold;
        position: relative;
    top: -2px;
}

/*-----------------------------------------------*/

/*-----------------------------------------------*/
/* HR */

hr.style {
	margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}
.hide_block_maxlist-more .maxlist-more{
    display: none;
}